img {
  width: 375px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 850px;
  margin: 0 auto;
  justify-content: center;
}

.carousel {
  width: 900px;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.one-tenth {
  flex-basis: 10%;
}

.one-half {
  flex-basis: 50%;
}

.card {
  justify-content: space-between;
}

.card-main {
  justify-content: center;
}

.img-nav-bar {
  justify-content: center;
}

.fa-circle {
  margin: 15px 5px;
  font-size: 24px;
  font-weight: 500;
}

.card-previous,
.card-next {
  justify-content: center;
  align-items: center;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 40px;
}
