div {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
}

img {
  width: 400px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 1024px;
  margin: 0 auto;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.one-tenth {
  flex-basis: 10%;
}

.one-half {
  flex-basis: 50%;
}

.carousel {
  width: 900px;
  justify-content: center;
}

.card {
  justify-content: space-between;
}

.card-main {
  justify-content: center;
}

.img-nav-bar {
  justify-content: center;
}

.fa-circle {
  margin: 15px 5px;
  font-size: 24px;
  font-weight: 500;
}
