* {
  font-family: Barlow, sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  margin: 20px auto;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

p {
  font-size: 22px;
  text-align: center;
  flex-basis: 100%;
}

.container {
  width: 2250px;
  margin: 0 auto;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.column-quarter {
  width: 25%;
  justify-content: center;
}

.icon {
  width: 100%;
  box-sizing: border-box;
  padding: 0 215px;
}
