body {
  box-sizing: border-box;
  margin: 0;
}

span,
.accuracy {
  font-size: 32px;
  font-weight: 700;
  text-underline-offset: 9px;
}

span {
  font-family: 'Courier Prime', Courier, monospace;
}

.accuracy {
  font-family: Barlow, sans-serif;
  height: 38.4px;
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.word-string {
  margin: 50px;
}

.letter {
  white-space: pre;
}
