/* Contact Us Header */
img {
  width: 100%;
}

h2,
h3 {
  color: rgb(100, 100, 100);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
  line-height: 33px;
}

.contact-us {
  justify-content: space-between;
  align-items: start;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.get-in-touch {
  flex-basis: 37%;
  padding: 25px 0;
}

.get-in-touch > * {
  padding: 10px 0;
  margin: 0;
}

.phone-number {
  font-size: 30px;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.customer-info {
  justify-content: center;
  flex-basis: 49%;
}

.customer-info > form {
  justify-content: center;
}

.customer-info > form > input,
.customer-info > form > textarea {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  border-color: rgb(175, 175, 175);
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
}

.customer-info > form > textarea {
  overflow: hidden;
  justify-content: end;
  flex-basis: auto;
  padding: 50px 0;
}

.submit {
  font-size: 18px;
  padding: 10px 15px;
  margin: 45px 0;
}
