@font-face {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  src: url('Avenir.woff2') format('woff2');
}

@font-face {
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
  src: url('TiemposHeadline-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Tiempos Headline';
  font-style: italic;
  font-weight: 300;
  src: url('TiemposHeadline-LightItalic.woff2') format('woff2');
}

h1,
h2 {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3,
p,
a,
input,
textarea {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 28px;
}

p.italic {
  font-family: 'Tiempos Headline', serif;
  font-style: italic;
  font-weight: 300;
}

a {
  text-decoration: none;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-size: 24px;
}

textarea::placeholder,
input::placeholder {
  color: rgb(210, 210, 210);
}

input:focus {
  outline: none;
}
